 <section class="video-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-5 col-lg-8">
          <div class="video-details">
              <span class="label label-light label-flat color-4">#TravelOrAccommodation</span>
              <h2>Feeling overwhelmed<br/>about planning your next getaway? </h2>
              <p class="font-roboto">We totally get it! Escape the chaos and unwind in style. Discover serene stays, from beachfront villas to cozy mountain retreats, 
                perfect for relaxation and unforgettable adventures. Let us help you find your dream destination!</p>
              <button type="button" class="btn btn-gradient btn-lg color-4" [routerLink]="['/search']">Search now</button>
          </div>
      </div>
      <div class="col-xl-6 col-lg-4">
        <div class="play-icon">
          <div class="icon-video">
            <span class="heart-animation"></span>
            <a href="javascript:void(0)" (click)="openModal()">
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
